<!DOCTYPE html>
<html>
<head>
  <title>welcome</title>
</head>
<body>
  <form action="chat" method="GET">
    <p>
      create new room: <input type="text" name="room" />
      <input type="submit" />
    </p>
  </form>
  <p><%= message %></p>
</body>
</html>
